<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dark.a99app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcJUdhdSWzmhsM4MZsDksq0EhGEwWHYls" />

        <activity
            android:name=".Login"
            android:label="Login 99App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="اشتراك المستخدم" />
        <activity
            android:name=".Employee.EmployeeDashboard"
            android:label="لوحة معلومات الموظف" />
        <activity
            android:name=".EditProfile"
            android:label="تعديل الملف الشخصي" />
        <activity
            android:name=".Employee.AllRequests"
            android:label="طلبات المساعدة" />
        <activity
            android:name=".Employee.ShowRequest"
            android:label="عرض الطلبات" />
        <activity
            android:name=".User.UserDashboard"
            android:label="لوحة تحكم المستخدم" />
        <activity
            android:name=".MedicalHistory"
            android:label="تاريخ طبى" />
        <activity android:name=".Admin.AdminDashboard" />
        <activity android:name=".Admin.ManageEmployee" />
        <activity android:name=".Admin.AddEmployee" />
        <activity android:name=".Admin.EditEmployee" />
        <activity android:name=".Employee.ViewMedHistory" />
        <activity android:name=".User.History"></activity>
    </application>

</manifest>